# Идея
.vscode/
*.code-workspace

# Сборки
bin/
obj/
**/bin/
**/obj/

# Логи и временные файлы
*.log
*.tmp
*.temp
*.swp
*.swo
*.DS_Store

# Файлы настроек пользователя
*.suo
*.user
*.userosscache
*.sln.docstates

# Папки Visual Studio
.vs/
.vscode/
*.ncb
*.cache
*.csproj.user
*.dbmdl

# Публикация и сборка
Publish/
publish/
dist/
out/

# Файлы тестирования
TestResults/
*.trx
*.coverage
*.coveragexml

# Пакеты NuGet
# Исключаем пакеты, так как они восстанавливаются из *.csproj или packages.config
*.nupkg
# Исключаем глобальные кеши NuGet
.nuget/

# Rider
.idea/
*.sln.iml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Конфигурации
appsettings.*.json
